@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"] Image Web Resizer</h2>
<p>Web application for resizing images jpg, jpeg, png and bmp. The app converts the images to 300 pixels of height for this first version.</p>
<p>The solution is a compound of the following technologies, techniques and frameworks:</p>
<ul>
    <li>ASP.Net Core Web Application, capable to deploy on Windows, Linux or Mac</li>
    <li>SQLite to store data</li>
    <li>Magick.Net to process the images</li>
    <li>JQuery for user interaction and AJAX</li>
    <li>Images are stored in a temporary folder</li>
    <li>Entity Framework automatic Migrations</li>
    <li>Multiple files to upload and process at the same time</li>
</ul>
<p>This is a project created by Daniel Antonio Tala de Dompierre de Chaufepie (Talaman.info) as an assignment of Konstellation and Republica.</p>